asgiref==3.12.1
brotli==1.2.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
cssselect2==0.10.1
Django==6.1.1
django-anymail==15.2
django-environ==0.14.0
fonttools==4.65.0
gunicorn==26.2.0
idna==3.19
num2words==0.5.14
pillow==12.3.0
psycopg2-binary==2.9.13
pycparser==3.0
pydyf==0.12.1
pyphen==0.18.1
requests==2.34.2
sqlparse==0.6.0
tinycss2==1.5.1
tinyhtml5==2.1.0
urllib3==2.7.0
weasyprint==70.0
webencodings==0.6.1
whitenoise==6.12.0
zopfli==0.4.3
